[project]
name = "preape-demo"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "django>=5.2.10",
    "pillow>=12.1.0",
]

[dependency-groups]
dev = [
    "ruff>=0.15.0",
]
