{% extends "base.html" %}

{% block content %}
    <h1>Добавить товар "{{ product.name }}" в корзину</h1>

    <form method="POST">
        {% csrf_token %}
        <label>
            Количество:
            <input type="number" name="quantity" value="1" min="1" required>
        </label>
        <br><br>
        <button type="submit">Добавить в корзину</button>
    </form>

    <p><a href="{% url 'products:catalog' %}">Вернуться в каталог</a></p>
    <p><a href="{% url 'cart:cart' %}">Перейти в корзину</a></p>
{% endblock %}
